.h1{
  font-family: "Lato",  sans-serif;
  font-weight: 700 ;
  font-size: var(--h_1) ;
  font-style: normal;
}

.h2{
  font-family: "Lato",  sans-serif;
  font-weight: 700 ;
  font-size: var(--h_2);
  font-style: normal;
}

.h3{
  font-family: "Lato",  sans-serif;
  font-weight: 700 ;
  font-size: var(--h_3);
  font-style: normal;
}

.h4{
  font-family: "Lato",  sans-serif;
  font-weight: 700 ;
  font-size: var(--h_4);
  font-style: normal;
}

.h5{
  font-family: "Lato",  sans-serif;
  font-weight: 700 ;
  font-size: var(--h_5);
  font-style: normal;
}

.h6{
  font-family: "Lato",  sans-serif;
  font-weight: 700 ;
  font-size: var(--h_6);
  font-style: normal;
}


.p{
  font-family: "Lato", sans-serif;
  font-weight: 400 ;
  font-size: var(--p);
  font-style: normal;
}

.small{
  font-family: "Lato",  sans-serif;
  font-weight: 400 ;
  font-size: var(--small);
  font-style: normal;
}

.micro{
  font-family: "Lato",  sans-serif;
  font-weight: 400 ;
  font-size: var(--micro);
  font-style: normal;
}


.text-primary{
  color: var(--primary-color);
}

.text-dark{
  color: var(--dark-color);
}

.text-white{
  color: var(--white-color);
}