.h1{
  font-family: "Lato",  sans-serif;
  font-weight: 700 ;
  font-size: var(--h_1) ;
  font-style: normal;
}

.h2{
  font-family: "Lato",  sans-serif;
  font-weight: 700 ;
  font-size: var(--h_2);
  font-style: normal;
}

.h3{
  font-family: "Lato",  sans-serif;
  font-weight: 700 ;
  font-size: var(--h_3);
  font-style: normal;
}

.h4{
  font-family: "Lato",  sans-serif;
  font-weight: 700 ;
  font-size: var(--h_4);
  font-style: normal;
}

.h5{
  font-family: "Lato",  sans-serif;
  font-weight: 700 ;
  font-size: var(--h_5);
  font-style: normal;
}

.h6{
  font-family: "Lato",  sans-serif;
  font-weight: 700 ;
  font-size: var(--h_6);
  font-style: normal;
}


.p{
  font-family: "Lato", sans-serif;
  font-weight: 400 ;
  font-size: var(--p);
  font-style: normal;
}

.small{
  font-family: "Lato",  sans-serif;
  font-weight: 400 ;
  font-size: var(--small);
  font-style: normal;
}

.micro{
  font-family: "Lato",  sans-serif;
  font-weight: 400 ;
  font-size: var(--micro);
  font-style: normal;
}


.text-primary{
  color: var(--primary-color);
}

.text-dark{
  color: var(--dark-color);
}

.text-white{
  color: var(--white-color);
}

.primary-button{
  background-color: var(--primary-color);
  color: var(--white-color);
  display: inline-block;
  width: 184px ;
  height: 44px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  border-radius: 20px;
  font-family: "Lato", sans-serif;
  font-size: var(--h_6);
}

.primary-button:hover{
  background-color: var(--primary-hover);
  cursor: pointer;
  
}


.secondary-button{
  background-color: none;
  color: var(--dark-color);
  border: 1px solid var(--dark-color);
  border-radius: 20px;
  display: inline-block;
  width: 184px ;
  height: 44px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Lato", sans-serif;
  font-size: var(--h_6);
}

.secondary-button:hover{
  background-color: var(--dark-color);
  cursor: pointer;
 
}