@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
  --primary-color: #2D58FF;
  --dark-color: #130D32;
  --white-color: #FDFDFD;
  --h_1 : 2.027rem;
  --h_2: 1.802rem;
  --h_3: 1.602rem;
  --h_4: 1.424rem;
  --h_5: 1.266rem;
  --h_6: 1.125rem;
  --p : 1rem;
  --small: 0.889rem;
  --micro: 13px;

}

body {
  margin: 0;
  background-color: var(--white-color);
}











